.container{
    width: auto;
    height: auto;
}
.row{
    display: block;
    width: auto;
}
.yellow{
    display: flex;
}
.yellow .content{
    flex: 1 1 auto;
    margin: 10px;
    background-color: yellow;
    height: 100px;

}
.red{
    display: flex;
}
.red .content{
    flex: 1 1 auto;
    margin: 10px;
    background-color: violet;
    height: 100px;

}
.blue{
    display: flex;
}
.blue .content{
    flex: 1 1 auto;
    margin: 10px;
    background-color: chocolate;
    height: 100px;

}
.yellow,.red,.blue{
    display: flex;
}
.yellow .content{
    margin: 10px;
    background-color: yellow;
    height: 100px;
}
.red .content{
    margin: 10px;
    background-color: violet;
    height: 100px;
}
.blue .content{
    margin: 10px;
    background-color: chocolate;
    height: 100px;

}

@media screen and (min-device-width:1024px){
    .yellow .content{
        flex: 1 1 auto;
    }
    .red .content{
        flex: 1 1 auto;
    }
    .blue .content{
        flex: 1 1 auto;
    }
}
@media screen and (min-device-width:768px) and (max-device-width:1023px) {
    .yellow .content{
        flex: 1 1 auto;
    }
    .red .content{
        flex: 1 1 auto;
    }
    .blue{
        flex-direction: column;
    }
    
}
@media screen and (min-device-width:320px) and (max-device-width:767px){
    .yellow{
        flex-direction: column;
    }
    .red{
        flex-direction: column;
    }
    .blue{
        flex-direction: column;
    }
    

}